.rtl {
    direction: rtl;
}
.ltr{
    .plan_card__top__start__detail__elements__element__checked_image{
        margin: unset;
        margin-right: 8px;
    }
}
.plan_card__container {
    background: #fff;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    .plan_card__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px dashed #DADADA;
        &__start {
            &__title {
                display: block;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: IRANYekan;
                color: #4B4B4B;
                margin-bottom: 1rem;
            }
            &__detail__elements {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                &__element {
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: flex-start;
                    &__checked_image {
                        margin-left: 8px;
                        width: 16px;
                        height: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }
                    &__text {
                        }
                }
            }

        }
        &__end {
            width: 72px;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            // img {
            //     width: 48px;
            //     height: 48px;
            // }
        }
    }
    .plan_card__bottom {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__start {
            &__price{
                font-weight: bold;
            }
            }
        &__end {
            &__current_plan {
                display: flex;
                flex-direction: column;
                &__title {
                    font-weight: lighter;
                    margin-bottom: 4px;
                    }
                &__expire_date {
                    }
            }
        }
    }
}
.mb-1{
    margin-bottom: 4px;
}