.curve{
    padding: 4px 32px;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    &:hover{
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out;
    }
}